
mat-toolbar{
    background-color: #3D5C87;
    width: 100%;
    height:7vh;
    
    
}
mat-toolbar .container{ 
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

span{
    color:white;
    background-color: #3D5C87;
}

span:hover{
    color:black;
    background-color:#3D5C87;
}

