<mat-card>
  <h1><mat-icon>settings</mat-icon>  Export Target data from cloud DB</h1></mat-card>
  <h2>select the exporter:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-select >
     <h5> <mat-option value="option1">exporter</mat-option></h5>
      
    </mat-select>
  </mat-form-field>&nbsp;&nbsp;
  <button mat-raised-button color="primary">START</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="warn">STOP</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary">Edit export activity</button></h2>
 
  <mat-tab-group>
    <mat-tab label="Export status">Previously Exported status
      
    </mat-tab>
    <mat-tab label="Export Target Files">
      
    </mat-tab>
  </mat-tab-group>
  


  