<mat-toolbar>
    <div>New SalesForce DataSource</div>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="form-container">
<mat-form-field>
    <input matInput type="text" placeholder="Datasource Name" required >
</mat-form-field>

<mat-form-field>
        <input matInput type="text" placeholder="Description" required>
</mat-form-field>

<mat-form-field>
    <input matInput type="text" placeholder="User Name" required>
</mat-form-field>

<mat-form-field>
    <input matInput type="password" placeholder="password" required>
</mat-form-field>

<mat-form-field>
    <input matInput type="text" placeholder="Security token" required>
</mat-form-field>

    <button mat-raised-button color="primary" >Submit</button>

</div>