table {
  width: 100%;
}

p{
  color:black;
  font-size: 14;
  font-style:bold;
}

th{
  
  color: black;
  font-size: 15px;
}

mat-toolbar{
  display: flex;
  justify-content:space-between;
  height: fit-content;
}

mat-toolbar .btn{
  align-items: flex-end;
}

mat-toolbar .content{
  align-items: flex-start;
}