.content{
    position: relative;
    left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    border-radius: 25px;
    border: 1px solid silver; 
    max-width:50%;    
}
.container{
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

.btn-1
{
    background-color: rgb(62, 185, 62);
    color:white;
    border-radius: 5px;
}

fieldset{
    position: relative;
    left: 5%;
    padding: 10px;
    margin: 10px;
    height: 10vh;
    width: 40vw;
    text-align: left;
}


.btn-2
{
    background-color: steelblue;
    color:white;
    border-radius: 5px;
    
}

.content-1{
    border: 1px solid silver;
    margin: 5%;
}

.content-2{
    border: 1px solid silver;
    margin: 5%;

}
mat-toolbar{
    width:100%;
    height: fit-content;
    padding: 3px;
    display: flex;
    align-content: space-between;
}
