<mat-toolbar>
        <div>New RDBMS DataSource</div>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div class="form-container">
    <mat-form-field>
        <input matInput type="text" placeholder="Datasource Name" required >
    </mat-form-field>
    
    <mat-form-field>
            <input matInput type="text" placeholder="Description" required>
    </mat-form-field>

    <mat-form-field>
            <mat-select placeholder="source Database" [(ngModel)]="selectedSource">
                    <mat-option *ngFor="let src of source" [value]="src.value">
                      {{ src.srcName }}
                    </mat-option>
                  </mat-select>
    </mat-form-field>
    
    <mat-form-field *ngIf="selectedSource === 'sql'">
      <mat-select placeholder="Choose Authentication" >
          <mat-option value="win_auth" >windows Authentication</mat-option> 
          <mat-option value="sql_auth">SQL Authentication</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field>
            <input matInput type="text" placeholder="Server" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="Database Name" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="User Name" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="Password" required>
       
    </mat-form-field>
    
        <button mat-raised-button color="primary">Submit</button>
</div>

