<mat-toolbar>
        <div>New RDBMS DataSource</div>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div class="form-container">
    <mat-form-field>
        <input matInput type="text" placeholder="Datasource Name" required >
    </mat-form-field>
    
    <mat-form-field>
            <input matInput type="text" placeholder="Description" required>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Choose Server" onchange="Myfun()" id="sel0">
            <mat-option value="mysql" >MySql</mat-option> 
            <mat-option value="server">Sql Server</mat-option>
            <mat-option value="server">Oracle</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field id="sel">
            <mat-select placeholder="Choose Authentication" >
                <mat-option value="windows Authentication" >MySql</mat-option> 
                <mat-option value="SQL Authentication">Sql Server</mat-option>
            </mat-select>
        </mat-form-field>
    
    <mat-form-field>
            <input matInput type="text" placeholder="Server" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="Database Name" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="User Name" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="Password" required>
    </mat-form-field>
    
        <button mat-raised-button color="primary" >Submit</button>
</div>

<script src="text/javascript">

    function Myfun()
    {
        var el=document.getElementById("sel0");

        if(el.value=="MySql")
        {
           document.getElementById("sel").style.display="none";
        }

        else
        {
            document.getElementById("sel").style.display="show";
        }
    }



</script>