.form-container {
    margin: 1in;
    width:20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60%;
    left: 30%;
}

button{
    align-self: center;
    width: fit-content;
}

.ext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pass{
    display: flex;
    flex-direction: row;
}
