<mat-toolbar>
        <div>New Excel DataSource</div>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div class="form-container">
    <mat-form-field>
        <input matInput type="text" placeholder=" Name" required >
    </mat-form-field>
    
    <mat-form-field>
            <input matInput type="text" placeholder="Description" required>
    </mat-form-field>

    <mat-form-field>
            <mat-select placeholder="source Type" [(ngModel)]="selectedSource">
                    <mat-option *ngFor="let src of source" [value]="src.value">
                      {{ src.srcName }}
                    </mat-option>
                  </mat-select>
    </mat-form-field>

    <div *ngIf="selectedSource === 'sftp'" class="ext">
    
    
    <mat-form-field>
            <input matInput type="text" placeholder="URL" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="number" placeholder="Port No" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="User Name" required>
    </mat-form-field>

    <div clss="pass">
    <mat-form-field>
            <input matInput type="text" placeholder="Password" required> 
    </mat-form-field>
    
    <button mat-button>Test Connection</button>
    </div>
    <mat-form-field>
            <input matInput type="text" placeholder="Path" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput type="text" placeholder="File Name" required>
    </mat-form-field>

    <mat-form-field>
            <mat-select placeholder="File Extension" >
                    <mat-option value="xls" >.XLS</mat-option> 
                    <mat-option value="csv">.CSV</mat-option>
                  </mat-select>
    </mat-form-field>
</div>
    
        <button mat-raised-button color="primary">Submit</button>
</div>

