<mat-toolbar>
        <div>New CSV DataSource</div>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div class="form-container">
    <mat-form-field>
        <input matInput type="text" placeholder="Datasource Name" required >
    </mat-form-field>
    
    <mat-form-field>
            <input matInput type="text" placeholder="Description" required>
    </mat-form-field>

   
    
    <mat-form-field>
        <mat-select placeholder="Select Type">
          <mat-option value="manual" >Manual</mat-option> 
          <mat-option value="auto">Automatic</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field>
            <mat-select placeholder="File Extension">
                    <mat-option value="csv" >CSV</mat-option> 
                    <mat-option value="txt">TXT</mat-option>
                    <mat-option value="dat">DAT</mat-option>
                  </mat-select>
    </mat-form-field>
    
        <button mat-raised-button color="primary">Submit</button>
</div>

