<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<h3>New CSV Datasource</h3>

<hr />

<form>
    <div class="container col-md-6 col-md-offset-3">
        <form action="/action_page.php">
            <div class="form-group ">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" required placeholder="Enter Data Source Name" name="name">
            </div>

            <div class="form-group">
                <label for="desc">Description:</label>
                <textarea class="form-control" required id="desc" placeholder="Enter Data Source Description">
                </textarea>
            </div>

            
            <div class="form-group">
                <label for="sourcetype">Source Type:</label>
                
                <label class="checkbox-inline">
                    <input type="checkbox" required value="">Multiple metadata
                </label>
                <select class="form-control" id="source" required>
                    <option id="1">Manual</option>
                    <option id="2">SFTP</option>

                </select>
                 </div>
                 


            <div class="form-group">
                <label for="sourcetype">File extension:</label>
                <select class="form-control" id="source" required>
                    <option id="1">CSV</option>
                    <option id="2">TXT</option>
                    <option id="3">DAT</option>
                    <option id="4">TSV</option>
                </select>
                
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-info" value="Submit" required>
            </div>

        </form>
    </div>
</form>
