<mat-toolbar><h2><img src="\assets\images\download-512.png" width="25px" height="25px">Review Download Target Files from cloud Folder</h2></mat-toolbar>
<br/>

<div>
    <h2>Download listed files from cloud:</h2>
    <div style="float: right;">
  <button class="btn-1"mat-raised-button color="primary">
    <mat-icon>cloud_download</mat-icon> Download
  </button>
  &nbsp;
  <button class="btn-2" mat-raised-button color="warn" ><mat-icon>delete</mat-icon></button>
  </div>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
   <h3> <mat-icon>play_arrow</mat-icon>
    <mat-icon>folder</mat-icon> Download Target Files</h3>
  </mat-drawer>
  <mat-drawer-content><mat-card>No Files are available in selected cloud folder</mat-card></mat-drawer-content>
</mat-drawer-container>
