mat-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height:50vh;
    top:20%;
    padding: 20px;
    width:fit-content;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px;    
}
.dataflow{
    margin:3%;
}
.convert{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 14%;
    padding: 5px;
}

.cube{
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.arrow{
    display: flex;
    flex-direction: column;
    position: relative;
    top:2%;
    padding: 5px;
}

.export{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 14%;
    padding: 5px;

}
.download{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5px;
    bottom: 40px;
}

.import{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 14%;
    padding: 5px;

}

.upload{
    bottom: 14%;
    position: relative;
    padding: 5px;
}

.db{
    top: 5%;
}

h4,p{
 color: rgb(37, 35, 35);
 margin-bottom: 3%;
}
.mat-card-title{
font-size: 14px;
font-weight: 200;
}
.material-icons {
    font-size: 75px;
    top: 7%;
    color: #3D5C87;
}