<div class="dataflow">
  <mat-card>
    <div class="upload">
      <mat-card-title><b>UPLOAD &<br/> REVIEW</b></mat-card-title>
      <mat-card-subtitle>Latest Source <br/>files in cloud folder</mat-card-subtitle>
    <img src="\assets\images\Svg\upload.svg" routerLink=" "width=100 height=100 alt="upload"> 
  </div>
  <div class="arrow">
    <i class="material-icons">
      label_important
      </i>
    </div>
    <div class="import">
      <img src="\assets\images\Svg\odsjobrunner.svg" routerLink=" "width=100 height=100 alt="import"><br/>
      <mat-card-title><b>IMPORT</b></mat-card-title>
      <mat-card-subtitle>Source into<br/> Cloud DB</mat-card-subtitle>
      </div>
      <div class="arrow">
        <i class="material-icons">
          label_important
          </i>
        </div>
      <div class="db">
        <mat-card-title><b>REVIEW</b></mat-card-title>
        <mat-card-subtitle>Source Data <br/>Into Cloud DB</mat-card-subtitle>
      <img src="\assets\images\database.png" routerLink=" "width=125 height=150 alt="database">
      </div>
      <div class="arrow">
        <i class="material-icons">
          label_important
          </i>
        </div>
        <div class="convert">
          <img src="\assets\images\Svg\adsjobrunner.svg" routerLink=" " width=75 height=75 alt="convert">
          <mat-card-title><b>CONVERT</b></mat-card-title>
          <mat-card-subtitle>Source Into<br/> Target Format</mat-card-subtitle>
          </div>
          <div class="arrow">
            <i class="material-icons">
              label_important
              </i>
            </div>
          <div class="cube">
            <mat-card-title><b>REVIEW</b></mat-card-title>
            <mat-card-subtitle>Target into cloud DB</mat-card-subtitle>
          <img src="\assets\images\Svg\adsdb.svg" routerLink=" "width=125 height=150 alt="cube">
          </div>
          <div class="arrow">
            <i class="material-icons">
              label_important
              </i>
            </div>
          <div class="export">
            <img src="\assets\images\Svg\export.svg" routerLink=" "width=100 height=100 alt="export">
            <mat-card-title><b>EXPORT</b></mat-card-title>
            <mat-card-subtitle>Target data <br/>from Cloud DB</mat-card-subtitle>
            </div>
            <div class="arrow">
              <i class="material-icons">
                label_important
                </i>
              </div>
            <div class="download">
              <mat-card-title><b>REVIEW AND DOWNLOAD</b></mat-card-title>
              <mat-card-subtitle>Latest Target Files<br/>in cloud folder</mat-card-subtitle>
            <img src="\assets\images\Svg\download.svg" routerLink=" "width=100 height=100 alt="down">
            </div>
  </mat-card>
</div>
  