<mat-toolbar>
  <mat-toolbar-row>
    <div><img src="assets\images\config.png" height=25 width=25>&nbsp;&nbsp;Download</div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <h3>Select the Collector</h3>
  <mat-form-field>
    <label></label> <mat-select placeholder="Choose Connector" required >
          <mat-option value="connector" >CSV CONNECTOR</mat-option>
          <mat-option value="connector" >DBMS CONNECTOR</mat-option>
          <mat-option value="connector" >SALESFORCE CONNECTOR</mat-option>
          <mat-option value="connector" >EXCEL CONNECTOR</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<mat-divider></mat-divider>

<div class="main">
  <mat-icon>settings</mat-icon> Import Template
  <fieldset>
    <legend>Active Template:</legend>
  </fieldset>
</div>

 







<!--

  <form>
    <select required>
      <option value="connector" size="20" default> CSV</option>
      <option value="connector" size="20">RDBMS</option>
      <option value="connector" size="20">SALESFORCE</option>
      <option value="connector" size="20">EXCEL</option>
    </select>
  </form>
-->