.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

mat-card{
    height:10%;
}
.container h4{
    padding: 1%;
}

.main{
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    position: absolute;
    top: 50%;
    left:30%;
    width: 40%;
    height:40%;
    justify-content: center;
}