

.content{
    position: relative;
    left: 30%;
    top: 40%;

    padding:30px;
    border-radius: 25px;
    border: 1px solid silver; 
    width: 40%;
    
}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h2{
    color: silver;
}
.btn-1
{
    background-color: rgb(62, 185, 62);
    color:white;
    border-radius: 5px;
}

fieldset{
    position: relative;
    left: 5%;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 75%;
    text-align: left;
}



.btn-2
{
    background-color: steelblue;
    color:white;
    border-radius: 5px;
    
}

.content-1{
    border: 1px solid silver;
    margin: 5%;
}

.content-2{
    border: 1px solid silver;
    margin: 5%;
}

mat-toolbar{
    width:100%;
    height: fit-content;
    padding: 3px;
    display: flex;
    align-content: space-between;
}