.content{
    position: relative;
    left: 30%;
    opacity:50% ;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid black; 
    width: 40%;
    height: 400px; 
}

input{
    size:50;
}

.btn-1
{
    background-color: rgb(62, 185, 62);
    color:white;
    border-radius: 5px;
}

fieldset{
    position: relative;
    left: 5%;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 80%;
    text-align: left;
}

input{
   width: 100%;
}

.btn-2
{
    background-color: steelblue;
    color:white;
    border-radius: 5px;
    
}

h1{
    text-align: center;
}

.form{
    width: 270px;
    align-items: center;
    text-align: center;

}
